:host {
    width: 300px;
    height: 250px;
    max-height: 250px;
    word-break: break-all;
    .card {
        height: 100%;
        .author {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    
}

.main-img {
    width: 300px;
    max-width: 300px;
    height: 250px;
    max-height: 250px;
    border-radius: 10px;
}

.author-img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.bold-text {
    font-size: 18px;
    color: #333;
}

a,
img {
    cursor: pointer;
}
