:host {
    position: fixed;
    top: 64px;
    z-index: 1;

    .sidebar {
        width: 230px;
        background-color: rgb(254, 253, 253);
        border-right: 1px solid grey;

        &-content {
            height: 100vh;
            padding: 35px 5px;
            justify-content: center;
        }
        &-item {
            cursor: pointer;
            font-size: 20px;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 5px;

            &:not(:first-child) {
                margin-top: 10px;
            }

            &:hover {
                border-radius: 10px;
                background-color: lightgrey;
            }
        }
    }
}
